<div class="modal-header">
  <h4 class="modal-title" [innerHTML]="title"></h4>
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true"(click)=" activeModal.close()" >&times;</span>
  </button>
</div>
<div class="modal-body">
  <div [innerHTML]="msg"></div>
</div>
  <div class="modal-footer">
    <button type="button" [ngClass]="close=='Close'?'btn-warning':'btn-success'" class="btn" (click)="update()" [innerHTML]="close"></button>
    <button type="button" class="btn btn-warning" *ngIf="viewButtonNo" (click)=" activeModal.close()" >No</button>
</div>
